* {
    text-decoration: none !important;
}

.custom-input-group input,
button {
    font-size: 15px !important;
    box-shadow: none !important;
}

.custom-header a {
    color: #8e8e8e !important;
    font-size: 14px !important;
    transition: all ease 0.3s;
}

.custom-header a:hover {
    color: #f07a1b !important;
}

.custom-header-none a {
    color: #8e8e8e !important;
    transition: all ease 0.3s !important;
    font-size: 19px !important;
    margin-top: 30px !important;
}

.custom-header-none a:hover {
    color: #f07a1b !important;

}

.custom-navbar-nav li a {
    font-size: 14px !important;
    color: #fff !important;
}

.custom-navbar-nav .custom-dropdown-menu {
    background-color: #fff !important;
    margin-top: 0px !important;
}

.custom-navbar-nav .custom-dropdown-menu a {
    color: #000 !important;
    transition: all ease 0.3s;
    background: none !important;
}

.custom-navbar-nav .custom-dropdown-menu a:hover {
    color: #f07a1b !important;
    background-color: #f8f9fa !important;
}

@media (min-width:992px) {
    .navbar {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .custom-nav-item {
        padding-top: 13px !important;
        padding-bottom: 13px !important;
        border-right: 1px solid #6a767d !important;
    }

    .nav-item:last-child {
        border-right: none !important;
    }
}

.dropdown-menu {
    border-radius: 0 !important;
}

@media(min-width:992px) {
    .dropdown-menu {
        opacity: 0 !important;
        display: block;
        visibility: hidden;
        top: 100px !important;
        transition: all ease 0.3s !important;
        transition-delay: 0.2s !important;
    }

    .dropdown:hover .dropdown-menu {
        opacity: 1 !important;
        display: block !important;
        visibility: visible !important;
        top: 55px !important;
    }
}

.a-none-border {
    border: none !important;
}

/* style slider*/
.custom-container-fluid {
    position: relative !important;
    background-blend-mode: overlay !important;
    background-image: url("../images/background1.jpg") !important;
    width: 100% !important;
    height: 260px !important;
}

.titr {
    position: relative !important;
    top: 95px !important;
    color: #ffe9e9 !important;
    background-color: #d61b1b !important;
    font-size: 45px !important;
    padding: 10px !important;
}

/* end slider*/

/*start products*/
.custom-border::before {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background-color: #4ec51c;
    position: relative;
    top: 35px;
}

.custom-col {
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.custom-card .sblayer {
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
}

.custom-card .overlay {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
    height: 100% !important;
    width: 100% !important;
    opacity: 0 !important;
    visibility: hidden !important;
    transition: all ease-out 0.3s !important;
    border-radius: 2px;
}

.custom-card:hover .overlay {
    visibility: visible !important;
    opacity: 1 !important;
}

.custom-card .overlay .btn {
    position: absolute !important;
    top: 60% !important;
    right: 50% !important;
    transform: translate(50%, -50%) scale(0) !important;
    transition: all ease-out 0.3s !important;
    border-radius: 35px !important;
    font-size: 13px !important;
}

.custom-card:hover .overlay .btn {
    transform: translate(50%, -50%) scale(1) !important;
}

.custom-card .overlay .badge {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%) scale(0);
    transition: all ease-out 0.3s 0.1s;
    border-radius: 35px;
    font-size: 13px;
    font-weight: lighter;
}

.custom-card:hover .overlay .badge {
    transform: translate(-50%, -50%) scale(1);
}

.custom-card-body a {
    color: #000 !important;
    font-size: 16px !important;
    transition: all ease 0.3s !important;
}

.custom-card-body a:hover {
    color: #f07a1b !important;
}

.card-footer small .badge {
    font-weight: lighter !important;
}

.card .card-footer div del {
    color: #cdcdcd !important;
    font-size: 14px !important;
    font-weight: lighter !important;
    text-decoration: line-through !important;
}

.c-small {
    word-spacing: 6px !important;
}

/*style Newsletters*/
.custom-containerfluid {
    width: 100% !important;
    background-blend-mode: overlay !important;
    background-image: url("../images/tile.jpg") !important;
    background-color: rgba(49, 49, 49) !important;
}

/*style footer*/
.custom-ul li {
    color: #039be5 !important;

}

.custom-small {
    color: #039be5 !important;
    border-bottom: 1px solid #039be5 !important;
    padding: 6px !important;

}

.custom-ul li a {
    font-size: 13px !important;
    color: #000 !important;
    transition: all ease 0.3s !important;
}

.custom-ul li a:hover {
    color: #f07a1b !important;
}

.customs-icon {
    font-size: 20px !important;
}

/*style info products*/
.mytable {
    background-color: #425e65 !important;
}

.mytable tr:nth-last-of-type(odd) {
    background-color: #3f5960 !important;
}

.mytable td {
    padding: 25px !important;
    border: none !important;
}

.custom-fa a {
    color: #cdcdcd !important;
    transition: all ease 0.3s !important;
    font-size: 20px !important;
}

.custom-fa a:hover {
    color: #f07a1b !important;
}